<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 80%;
            height: 500px;
            margin: auto;
            padding: 10px;
        }
        .one {
            width: 50%;
            height: 500px;
            float: left;
        }
        .two {
            width: 50%;
            margin-left: 55%;
            height: 500px;
        }


    </style>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/resibrx">JSON-Checker by Theresia</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="../">JSON-Checker</a></li>
            <li><a href="converterToXml.html">XML-Converter</a></li>
            <li class="active"><a href="jsonBuilder.html">JSON-Builder</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>JSON-Builder</h1>
    <p>Create your own JSON!</p>
</div>

<div class="container">
<div class="one">

    <div>Enter your key and value!</div><br/>
    <form action="#" th:action="@{/jsonBuilder}" th:object="${jsonInput}" method="post">
        <p>Key: <input type="text" th:field="*{key}" class="form-control" /></p>
        <p>Value: <input type="text" th:field="*{value}" class="form-control" /></p>
        <th><button type="submit" name="addInput">Add Key-Value</button></th>
        <p><input type="submit" value="Convert to JSON" /></p>
    </form>

</div>

<div class="two">
    <div>JSON:</div><br/>
    <div th:if="${generatedJson}">

        <div class="well">
            <pre th:text="${generatedJson}"></pre>
            <a th:attr="download=${downloadFile}">Download</a>

        </div>
    </div>
</div>
</div>
</body>
</html>