<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/resibrx">JSON-Checker by Theresia</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="../">JSON-Checker</a></li>
            <li><a href="converterToXml.html">XML-Converter</a></li>
            <li><a href="jsonBuilder.html">JSON-Builder</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>JSON-Checker for anyone</h1>
    <p>Upload your Json file and see the magic!</p>
</div>

<div class="container">

    <div class="well" style="background-color:#e6fff9;width:350px;height:130px;  position: relative;
                             left: 400px; padding: 10px; border: 1px solid black">

            <form method="POST" action="/upload" enctype="multipart/form-data">
                    <div>
                        <input type="file" name="file" style="float: left; width: 228px;margin-left:15%"/>
                    </div>
                    <div>
                        <i class="fa fa-trash-o"  style="font-size:24px;color:black; margin-top: -1%"></i>
                    </div>

                <div style="margin-left: 24%; margin-top: 4%">
                    <div style="float:left; margin-left: 3%">
                      <i class="fa fa-cloud-upload" style="font-size:44px;color:black"></i>
                    </div>
                    <div>
                        <input type="submit" value="Upload" style="padding: 5px 23px; background: white;border-radius: 7px; margin-top: 3%; margin-left: 7%" />
                    </div>
                </div>
            </form>

    </div>

    <div>

        <div class="alert alert-success" th:if="${status}">
            <strong>Success!</strong><div th:text="${status}"></div>
        </div>

        <div th:if="${message}">

            <div class="well">
                <pre th:text="${message}"></pre>
            </div>

        </div>
    </div>

</div>

</body>
</html>